{% extends "base.html" %}
{% block title %}Invalide Activation{% endblock %}
{% block content %}

        <div class="container my-2">
            <div>
                <h3 class="mb-4">Error</h3>
                <p>Please contact our support team</p>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
            </div>
        </footer>
{% endblock %}