{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<script>
    window.location.href = "/"
</script>
{% else %}
    <div class="container my-3 font-monospace">
        <form action="{% url 'account:login' %}" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
            <div class="flex-column justify-content-center mx-auto pb-3">
                <div class="text-center mt-3">
                    <a href="{% url "account:register" %}" class="btn btn-outline-success btn-sm">
                        Create an account
                    </a>
                </div>
                <div class="text-center mt-2">
                    <a href="{% url "account:pwdreset" %}" class="btn btn-outline-secondary btn-sm">
                        Forgotten Password?
                    </a>
                </div>
            </div>
        </form>
    </div>
    <footer class="py-5 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
{% endif %}

{% endblock %}