{% extends 'base.html' %}
{% load humanize %}
{% block style %}
<style>
    .btn-sm-extra {
        border-radius: 1.2rem;
    }

    .text-small-c {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ha {
        width: 20px;
    }

    .gz {
        height: 20px;
    }

    .gx {
        border-radius: 4px;
    }

    .author-name {
        margin-left: 10px;
        color: #292929;
        font: 13px sohne;
        font-family: Helvetica, sans-serif;
    }
</style>
{% endblock style %}
{% block title %} {{ request.user.name }}{% endblock title %}
{% block content %}
    <hr class="dropdown-divider">
    <hr class="dropdown-divider">
    <div class="container">
        <center><h2>My Articles</h2></center>
        {% for post in posts %}
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{% url 'post:post_details' post.slug %}">
                            <img src="{{ post.thumbnail.url }}" class="img-fluid rounded-start"
                                alt="{{ post.post_title }}">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-grid gap-2 d-md-flex justify-content-between">
                                <p>
                                    <img src="{{ post.user.image.url }}" alt="" class="gx ha gz">
                                    <a href="{% url 'account:user_profile' post.user.account_slug %}" class="author-name"
                                        data-bs-toggle="popover"
                                        data-bs-trigger="hover focus"
                                        title="{{ post.user.name }}"
                                        data-bs-content="{{ post.user.headline }}"
                                    >
                                        {{ post.user.name }}
                                    </a>
                                </p>
                                
                                {% if post.is_active %}
                                    <span class="badge rounded-pill bg-success mb-3">active</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-danger mb-3">deactive</span>
                                {% endif %}
                            </div>
                            <a href="{% url 'post:post_details' post.slug %}" class="text-decoration-none text-black">
                                <h5 class="card-title">{{ post.post_title }}</h5>
                            </a>
                            
                            <p class="card-text"><i class="bi bi-eye-fill"></i> {{ post.click_count }} &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-heart-fill"></i> {{post.liked_blog.count}} &nbsp;&nbsp;&nbsp;&nbsp; <i class="bi bi-chat-left-text-fill"></i> {{ post.post_comment.all|length }}</p>
                            <p class="card-text">
                                <small class="text-muted">{{ post.created | naturaltime }}</small>
                                {% if post.is_active %}
                                    <a href="{% url 'post:deactivate_blog' post.pk %}" class="btn btn-warning btn-sm">Deactivate</a>
                                {% else %}
                                    <a href="{% url 'post:deactivate_blog' post.pk %}" class="btn btn-success btn-sm">Activate</a>
                                    <a href="{% url 'post:blog_delete' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                    <a href="{% url 'post:edit_blog' post.pk %}" class="btn btn-secondary btn-sm">Update</a>
                                {% endif %}
                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if posts.paginator.num_pages > 1 %}
            <!-- Pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="">Previous</a>
                        </li>
                    {% endif %}
                    <span class="current">
                        <a class="page-link">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                        </a>
                    </span>
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        
    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
        </div>
    </footer>
{% endblock content %}

{% block script %}
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

    </script>
{% endblock script %}