{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Reset Confirm{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url "post:post_list" %}';
        </script>
    {% endif %}

    <div class="container">
        <form class="login-form" method="post">
            {% csrf_token %}
            <center><h1 class="h3 mb-4 font-weight-bold">Change your password</h1></center>
            <p>Use the form below to change your password.</p>
            {% csrf_token %}
            {{ form|crispy }}
            <center>
                <button class="btn btn-primary btn-block py-2 mb-4 w-50" type="submit" value="Change">
                    Submit
                </button> 
            </center>
        </form>
    </div>

{% endblock %}